<section class="aligner">
  <form class="wrapper" (ngSubmit)="test()">

    <div class="input">
      <label for="server">Server </label>
      <input
        type="text"
        name="server"
        required
        [pattern]="pattern"
        [(ngModel)]="credentials.server">
    </div>

    <div class="input">
      <label for="c">Token </label>
      <input
        type="password"
        name="token"
        required
        [(ngModel)]="credentials.token">
    </div>

    <button (click)="test()" type="submit">Log in with token</button>
    <app-server-info></app-server-info>
    <app-info-box>
      FYI: We use sentry.io for error monitoring. Don't worry, sensitve data are being scrubbed.
    </app-info-box>
  </form>
</section>
