
.aligner {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 400px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.input {
  display: flex;
  flex-direction: column;
}

label,
app-hint {
  padding-left: 2px;
}

label {
  font-size: small;
  padding-bottom: 2px;
}
app-hint {
  margin-bottom: 4px;
}

app-hint.hidden {
  visibility: hidden;
}
