<div>
  <label for="server">TeamCity server </label>
  <input name="server" [(ngModel)]="server" type="text" (ngModelChange)="updateServer()">
</div>

<div>
  <label for="username">Username </label>
  <input type="text" [(ngModel)]="username" (ngModelChange)="updateCredentials()" name="username" placeholder="username">
</div>

<div>
  <label for="password">Password </label>
  <input type="password" [(ngModel)]="password" (ngModelChange)="updateCredentials()" placeholder="password">
</div>

<button (click)="test()">Test connection</button>
<div>Server-error: {{testerror}}</div>
