@import './src/fonts.scss';
@import './src/colors.scss';


.wrapper {
  padding: 10px;
  border-radius: 3px;
  font-size: 12px;
  color: aliceblue;
}

header {
  cursor: pointer;
  font-size: 16px;
}

.space-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.space-content:first-child,
.pad-right:first-child {
  margin-right: 6px;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.commit {
  font-family: $monospace;
  word-wrap: anywhere;
  font-size: 12px;
  cursor: pointer;
}

.commit:hover {
  background: rgba(0, 0, 0, .15);
}

span:hover {
  position: relative;
}

span[aria-label]:hover:after {
   content: attr(aria-label);
   padding: 4px 8px;
   position: absolute;
   border-radius: 5px;
   left: 10px;
   top: 120%;
   white-space: nowrap;
   z-index: 20;
   background:white;
}

.body > div {
  margin-bottom: 2px;
}

.body > div:last-child {
  margin-bottom: 0;
}

.quote {
  margin: 6px 0!important;
}

:host {
  color: #1f2534;
}
