svg {
  width: 22px;
  height: 22px;
  margin-right: 6px;
}

path,
circle,
polygon,
line {
  stroke: #efff7e;
}

svg.failure path {
  stroke: var(--failure);
}

svg.sucess path {
  stroke: var(--success);
}
