<section *ngIf="menuState$ | async as menuVisibility">
  <button (click)="toggleVisiblility()" *ngIf="menuVisibility.layoutDirection === 'column'">{{ menuVisibility.layoutDirection === 'column' && menuVisibility.menuVisible ? '✕' : '☰'}}</button>
  <nav
       [ngClass]="{'large' : menuVisibility.layoutDirection === 'row'}">
    <h1 [routerLink]="['/']" style="cursor: pointer">red || green</h1>
    <ul *ngIf="menuVisibility.menuVisible"
        (click)="toggleVisiblility()"
        [ngStyle]="{
          'flex-direction' : menuVisibility.layoutDirection}">
      <li>
        <a [routerLink]="['/dashboard']"
          routerLinkActive="router-link-active">dashboard
        </a>
      </li>
      <li>
        <a [routerLink]="['/settings']"
           routerLinkActive="router-link-active">settings
        </a>
      </li>
      <li>
        <a [routerLink]="['/sign-in']"
          routerLinkActive="router-link-active">sign in
        </a>
      </li>
     <li>
        <a [routerLink]="['/about']"
           routerLinkActive="router-link-active">wutta
        </a>
      </li>
      <li>
        <a href="https://github.com/petterhoel/redgreen"
           target="_blank"
           rel="noopener"
           title="Fork me on GitHub"
           routerLinkActive="router-link-active">
          <img width="20px" height="20px" src="/assets/github-32px.png" alt="github logo">
        </a>
      </li>
    </ul>
  </nav>
</section>
