nav {
  padding: 1em;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100vw;
}

nav.large {
  flex-direction: row;
  align-items: end;
}

h1 {
  margin: 0 10px 0 0;
  font-family: var(--monospace);
  background: -webkit-linear-gradient(45deg, #f3538b, var(--failure));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

ul {
  margin: 10px 0 0 0;
  padding: 0;
  display: flex;
}

nav.large ul {
  margin: 0 10px 0 0;
}

li {
  list-style: none;
  margin: 10px 0 0;
}

nav.large li {
  margin: 0 0 0 16px;
}

a{
  text-decoration: none;
  color: aliceblue;
}

a.router-link-active {
  color: var(--failure);
  font-style: italic;
  transition: color .2s ease-in;
  border-bottom: 1px solid var(--success);
}

button {
  background: none;
  border: none;
  color: var(--app-white);
  font-size: 2em;
}





