.builds {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 0 16px;
}

aside {
  font-size: 12px;
  position: fixed;
  bottom: 14px;
  right: 24px;
}

@media screen and (max-width: 699px) {
  .builds {
    grid-gap: 6px;
  }

  aside {
    display: none;
  }
}
