:host {
  display: grid;
  min-height: 100vh;
  max-height: 100vh;
  grid-template-rows: auto 1fr 22px;
  grid-template-areas:
    "navbar"
    "content"
    "statusbar"
}

app-navbar{
  grid-area: navbar;
  background-color: var(--backgroundColor-lighter);
}

app-status-bar {
  grid-area: statusbar;
  overflow: hidden;
}

.router-outlet {
  grid-area: content;
  height: 1fr;
  padding: 0 10px;
  overflow: auto;
}
