:host {
  display: grid;
  max-height: 100vh;
  grid-template-areas:
    "navbar"
    "content"
}

$navHeight: 48px;

app-navbar{
  grid-area: navbar;
  display: flex;
  padding: 2em 1em;
  height: $navHeight;
  background-color: var(--backgroundColor-lighter);
}

.router-outlet {
  grid-area: content;
  padding: 0 10px;
  height: calc(100vh - 48px);;
  max-height: calc(100vh - 48px);
  overflow: auto;
}
