<section class="info">
  <h2>Builds to display</h2>
  <button class="stripped" (click)="showAll()">all</button>
  <button (click)="hideAll()" class="stripped">none</button>
</section>

<section class="builds" *ngIf="buildsWithVisibility$ | async as builds">
  <div *ngFor="let build of builds" class="item">
    <input
      [id]="build.id"
      type="checkbox"
      name="build"
      [(ngModel)]="build.show"
      (ngModelChange)="toggleVisibility(build.id)">
    <label [for]="build.id" style="cursor: pointer">{{build.id}}</label>
  </div>
</section>
