h2 {
  font-size: 20px;
  margin: 0;
}

.info {
  display: flex;
  margin-top: 1em;
}

.builds {
  grid-area: builds;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-gap: 0px;
  grid-column-gap: 30px;
}

.item {
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item label{
  overflow: hidden;
  text-overflow: ellipsis;
}
span {
  margin-right: 6px;
}
