<article>
  <h1>See Your TeamCity Builds</h1>
  <p>RedGreen aims to provide a clear visualization of build statuses from your TeamCity installation. This is a work in progress, we are beta-ish stable. Should you find a 🐛, please file an issue on <a href="https://github.com/petterhoel/redgreen/issues" target="_blank" rel="noopener"> GitHub</a> 👩‍💻</p>
  <h2>Features</h2>
  <ul>
    <li>Lists the latest completed builds on default branch with status symbol, author, time stamp, commit hash and commit message.</li>
    <li>Fits narrow viewports and can sneak into busy info screens.</li>
    <li>Filter which builds to display.</li>
    <li>Supports Team City 2019.1 or newer.</li>
    <li>Free – MIT Licence 🥳</li>
  </ul>
  <p>
    Are you looking for another feature? Feel free to make an issue on <a href="https://github.com/petterhoel/redgreen/issues" target="_blank" rel="noopener"> GitHub</a>. No promises though, this is a side-project. We do encourage contributions. In any case, let's discuss the changes upfront, before anyone commits any time, and align our expectations 👍.
  </p>
  <h2>On Privacy 🧐</h2>
  <p>
    RedGreen uses <a href="https://sentry.io" target="_blank" rel="noopener">Sentry.io</a> for automatic error tracking,  with their standard sensitive data scrubbing 😇
  </p>
  <h2>On Security 🔐</h2>
  <p>
    We use <a href="https://www.jetbrains.com/help/teamcity/rest-api.html#REST+Authentication" target="_blank" rel="noopener">TeamCity's token-based authentication</a>. This is a variety of basic authentication. Therefore we need to store your token on the client and send it along with every request. For your security we suggest the following:
  </p>
  <ul>
    <li>Set up a read only user in TeamCity for this build screen.</li>
    <li>Generate a token for that user and use it to sign in. This token will be stored in your browser's localstorage and is readable and therefore steal-able by javascript. But since it is a read only user your exposure is limited 😇 </li>
    <li>However, if your build data contains or is considered sensitive information, don't have a build screen 🙀</li>
  </ul>
  <h2>Can't log in or get data? (CORS) 🤔</h2>
  <p>
  Your TeamCity server must accept requests from https://redgreen.app or where ever you host your copy of this buildscreen. Please check the <a href="https://www.jetbrains.com/help/teamcity/rest-api.html#CORS-support" target="_blank" rel="noopener">TeamCity docs on how to enable CORS</a>.
  </p>
</article>


