:root {
  --failure: #FF8FA5;
  --success: #82f2ce;
  --subtle: #ffffff2a;
  --subtle2: #ffffff9a;
  --app-white: #fcfcfc;

}

$failure: #FF8FA5;
$success: #82f2ce;
$subtle: #ffffff2a;
$subtle2: #ffffff9a;
$app-white: #fcfcfc;

