@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro|Comfortaa|Source+Code+Pro');

$sans-serif: 'Source Sans Pro', sans-serif;
$accentfont: 'Comfortaa', serif;
$monospace: 'Source Code Pro', monospace;
