@font-face{
  font-family: 'JetBrains Mono';
  src: url('/assets/fonts/JetBrainsMono-Regular.eot') format('embedded-opentype'),
  url('/assets/fonts/JetBrainsMono-Regular.woff2') format('woff2'),
  url('/assets/fonts/JetBrainsMono-Regular.woff') format('woff'),
  url('/assets/fonts/JetBrainsMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
