@font-face{
  font-family: 'JetBrains Mono';
  src: url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/web/eot/JetBrainsMono-Regular.eot') format('embedded-opentype'),
  url('https://github.com/JetBrains/JetBrainsMono/blob/master/fonts/web/JetBrainsMono-Regular.woff2?raw=true') format('woff2'),
  url('https://github.com/JetBrains/JetBrainsMono/blob/master/fonts/web/JetBrainsMono-Regular.woff?raw=true') format('woff'),
  url('https://github.com/JetBrains/JetBrainsMono/blob/master/fonts/ttf/JetBrainsMono-Regular.ttf?raw=true') format('truetype');
  font-weight: normal;
  font-style: normal;
}
