/* You can add global styles to this file, and also import other style files */
@import './fonts.scss';
@import './colors.scss';

* {
  box-sizing: border-box;
}

html, body, app-root {
  height: 100%;
}

body {
  margin: 0;
  background-color: var(--backgroundColor);
  color: var(--app-white);
}

body,
select,
input,
button {
  font-family: var(--sans-serif);
  letter-spacing: 0.002em;
  font-size: 1em;
}

@media screen and (max-width: 699px) {
  body {
    margin: 0 6px
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
pre {
  font-family: var(--sans-serif)
}

.quote {
  font-style: italic;
  font-weight: 400;
  letter-spacing: 0.02em;
}

input {
  background: transparent;
  color: var(--app-white);
  border-top-style: none;
  border-right-style: none;
  border-bottom: 1px solid #81848d;
  border-left-style: none;
  padding: 5px;
}

input:focus {
  border-bottom: 1px solid var(--app-white);
}

button {
  $dark: darken(#82f2ce, 40%);
  background-color: var(--success);
  border: none;
  border-bottom: 3px solid $dark;
  padding: 5px;
  border-radius: 2px;
  min-height: 30px;
}

button.reset {
  background-color: lighten(gray, 70%);
  border-bottom:3px solid lighten(#00a5dd, 30);
}

ul {
  list-style-type: none;
  padding: 0;
}

ul.dashed li:before {
  color: #00a5dd;
  content: '\2014';
  margin-right: 6px;
}


@supports(-webkit-appearance: none) {
  /* 	AKA, only do this if `-webkit-appearance: none` is supported.
    Which means IE11 and Opera Mini will get the old browser-styled checkbox.
    Which works just fine. Old browsers can get old looking things. */
     input[type="checkbox"] {
      /*  Remove the default styling.
          `-webkit-appearance` is not an official CSS property
        & likely never will be. But it's also in 95% of browsers,
        non-webkit included, yes, as a `-webkit` property.
        Firefox, Edge, Chrome, Opera all implemented `-webkit-appearance`.
        Plus it *will* stick around. Browsers can't remove it.
        So use it like this...                                 */
      -webkit-appearance: none;
      /* Style the box. */
      width: 1.6rem;
      height: 1.6rem;
      border: 1px solid var(--subtle);
      cursor: pointer;
    }
    input[type="checkbox"]:focus {
      /* Style the box when it's focused. */
      border: 1px solid #00a5dd;
    }
     input[type="checkbox"]:checked {
      /* Prepare for placing the new checkmark. */
      position: relative;
      /* Do a bug fix to keep iOS from adding dark background. */
      background: none;
    }
    input[type="checkbox"]:checked::after {
      /* Place (position) the new checkmark. */
      position: absolute;
      top: 0.36rem;
      left: 0.12rem;
      /*  Create a checkmark in CSS.
        Could use an SVG or `content: "✓";` instead.
        This is a box, turned 45 degs, with a
        left and bottom border to make the checkmark.
        Created using an empty pseudo-element.*/
      content: "";
      width: 1.0rem;
      height: 0.3rem;
      border: 4px solid var(--success);
      border-right: none;
      border-top: none;
      transform: rotate(-45deg);
    }
  }
