/* You can add global styles to this file, and also import other style files */
@import './fonts.scss';
$app-white: #fcfcfc;

* {
  box-sizing: border-box;
}

html, body, app-root {
  height: 100%;
}

body {
  margin: 0px 16px;
  background-color: #1f2534;
  font-family: $sans-serif;
  letter-spacing: 0.002em;
  color: $app-white;
}

@media screen and (max-width: 699px) {
  body {
    margin: 0 6px
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $accentfont
}

.quote {
  font-style: italic;
  font-weight: 400;
  letter-spacing: 0.02em;
}

a {
  color: #00a5dd;
}
pre {
  font-family: $monospace;
}

input {
  background: transparent;
  border: none;
  border-bottom-color: currentcolor;
  border-bottom-style: none;
  border-bottom-width: medium;
  color: $app-white;
  border-bottom: 1px solid #81848d;
  padding: 5px;
}

input:focus {
  border-bottom: 1px solid $app-white;
}

button {
  background-color: plum;
  border: none;
  border-bottom: 3px solid darken(plum, 30%);
  padding: 5px;
  border-radius: 10px;
  min-height: 30px;
  font-size: $font-size;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul.dashed li:before {
  color: #00a5dd;
  content: '\2014';
  margin-right: 6px;
}
