/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Work+Sans');


body {
  margin: 0;
  background-color: #1f2534;
  font-family: 'Work Sans', sans-serif;
  letter-spacing: 0.002em;
  color: #fcfcfc;
}

a {
  color: #00a5dd;
 }
