:root {
  --failure: #FF8FA5;
  --success: #82f2ce;
  --subtle: #ffffff2a;
  --subtle2: #ffffff9a;
  --app-white: whitesmoke;
  --link-color: #b0ccff;
  --backgroundColor: rgb(29, 37, 40);
  --backgroundColor-lighter: rgb(39, 49, 54);
  --border-radius: 5px;
  --std-padding: 12px;
  --sans-serif: 'Inter', sans-serif;
  --monospace: 'JetBrains Mono', monospace;
}
