:root {
  --failure: #FF8FA5;
  --success: #82f2ce;
  --subtle: #ffffff2a;
  --subtle2: #ffffff9a;
  --app-white: whitesmoke;
  --backgroundColor: #1f2534;
  --backgroundColor-lighter: #293044;
  --border-radius: 5px;
  --std-padding: 12px;
  --sans-serif: 'Inter', sans-serif;
  --monospace: 'JetBrains Mono', monospace;
}
